// common
@mixin card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
.title {
  width: 100%;
  color: #777777;
  font-size: 14px;
  font-weight: bold;
}
// header
mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  // background-color: #EDF4F0;
  // color: #777777;
  // border-bottom: 1px solid #e3e3e3;
}
.spacer {
  flex: 1 1 auto;
}
.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px;
}
.pj-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
}
.pj-name {
  font-size: 16px;
}
.divide {
  width: 1px;
  height: 30px;
  margin: 0px 2px;
  border-left: 1px solid #beb9b9;
}

// form
.form {
  @include card;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  color: #777777;
  background-color: #ffffff;
}
.select-project {
  width: 300px;
  height: 60px;
  background-color: #e3e3e3;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  color: #777777;
  border: 0;
  font-size: 16px;
  font-weight: bold;
}
.select-month{
  width: 200px;
  background-color: #e3e3e3;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}
.submit {
  background-color: #00d68c;
  color: white;
}

// main
.main {
  width: 900px;
  display: flex;
  flex-direction: column;
  margin: auto;
}


// score cards
.scores {
  display: flex;
  flex-direction: row;
}
.score-card {
  @include card;
  width: 100px;
}
.score-card-score {
  width: 100%;
  color: #00d68c;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.score-card-diff {
  width: 100%;
  color: #777777;
  font-size: 12px;
}

// chart
.chart-title {
  font-size: 16px;
  color: #777777;
}
.charts {
  display: flex;
  flex-direction: row;
}
.category-chart {
  @include card;
  height: 300px;
}
.task-chart {
  @include card;
}

// members
.members {
  @include card;
  width: 840px;
}
table {
  background: #ffffff;
  color: #777777;
}
th {
  background-color: #F0F0F0;
  color: #777777;
}
td {
  color: #777777;
}
mat-paginator {
  // background: #585858;
  // color: #777777;
}
.user {
 display: flex;
 flex-direction: row;
 align-items: center;
}

.mini-pie {
  @include card;
  width: 100px;
  // height: 200px;
}

.mini-bar {
  @include card;
  width: 200px;
  height: 150px;
}

// loading
.loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
