<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>BacklogBI</span>
    <span class="spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="main">
  <div class="form">
    <!-- <label>プロジェクト</label>
        <select>
          <option *ngFor="let p of projects" value="p.id">{{ p.name }}</option>
        </select> -->
    <label>プロジェクト</label>

      <select class="select-project" [(ngModel)]="selectedProjectId">
        <option *ngFor="let p of projects" [value]="p.id" selected>
          {{p.name}} [{{p.projectKey}}]
        </option>
      </select>
    集計期間
    <input class="select-month" matInput type="month" [(ngModel)]="selectedMonth">
    <button class="submit" mat-button (click)="reload()">集計する</button>

  </div>

  <div class="issues-info" *ngIf="$issues | async as issues; else spinner">

    <div class="scores">
      <div class="score-card">
        <div class="title">課題数</div>
        <div class="score-card-score">{{ issues.all }}</div>
        <!-- <div class="score-card-diff">前年比+10</div> -->
      </div>
      <div class="score-card">
        <div class="title">課題消化率</div>
        <div class="score-card-score" *ngIf="issues.all">{{ issues.done / issues.all  | percent}}</div>
        <div class="score-card-score" *ngIf="!issues.all">{{ 0 | percent}}</div>

        <!-- <div class="score-card-diff">前年比-8%</div> -->
      </div>
      <div class="score-card">
        <div class="title">予実差平均</div>
        <div class="score-card-score">{{ issues.actualAvgTime }}h</div>
        <!-- <div class="score-card-diff">前年比-0.5h</div> -->
      </div>
    </div>
    <div class="charts">
      <div class="category-chart">
        <div class="title">カテゴリー内訳</div>
        <app-chart [canvasWidth]="250" [canvasHeight]="250" [data]="makePieDataMonthly(issues)"></app-chart>
      </div>
      <div class="task-chart">
        <div class="title">課題消化状況</div>
        <app-chart [canvasWidth]="550" [canvasHeight]="450" [data]="makeBarDataMonthly(issues)"></app-chart>
      </div>
    </div>
  </div>

  <ng-template #spinner>
    <div class="loading">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>



  <div class="members">
    <div class="title">メンバー一覧</div>

    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef> メンバー</th>
        <td mat-cell *matCellDef="let element">
          <div class="user">
            <!-- <img class="icon" [src]="element.user.icon"> -->
            {{element.name}} </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> 担当カテゴリ </th>
        <td mat-cell *matCellDef="let element">
          <div class="mini-pie">

            <app-chart [canvasWidth]="100" [canvasHeight]="100" [data]="makePieDataMonthlyByUser(element)">
            </app-chart>
          </div>
        </td>

      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> 課題状況 </th>
        <td mat-cell *matCellDef="let element">
          <div class="mini-bar">
            <app-chart [canvasWidth]="200" [canvasHeight]="150" [data]="makeBarDataMonthlyByUser(element)">
            </app-chart>
          </div>
        </td>

      </ng-container>

      <ng-container matColumnDef="actualAvgTime">
        <th mat-header-cell *matHeaderCellDef> 課題消化率 </th>
        <td mat-cell *matCellDef="let element"> {{element.done / element.all | percent}} </td>
      </ng-container>

      <ng-container matColumnDef="wiki">
        <th mat-header-cell *matHeaderCellDef> wiki投稿数 </th>
        <td mat-cell *matCellDef="let element"> {{element.wiki}} </td>
      </ng-container>

      <ng-container matColumnDef="stars">
        <th mat-header-cell *matHeaderCellDef> スター数 </th>
        <td mat-cell *matCellDef="let element"> {{element.stars}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="oftenTogetherUser">
        <th mat-header-cell *matHeaderCellDef> よく絡んだ人 </th>
        <td mat-cell *matCellDef="let element">
            <div class="user"><img class="icon" [src]="element.oftenTogetherUser.icon">{{element.oftenTogetherUser.name}} </div>
        </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator color="primary" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

</div>
